<html> 
<head>
	<title>	Logged into Application! </title>
</head>	
<body>
	<H1 style='color:green'>Welcome, <%= user %></H1>
	<br>	
	<label>Click here to reset: <a class="btn btn-success" href="/logout">Log out</a></label>	
</html>