<html> 
<head>
	<title>	Too many tries </title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>  	
</head>	
<body style="background-color:lightgray">
	<h1 style='color:red; width:100%'>Too many logins. Please try again after 6 hours!</h1>
	<br>	
	<label>Click here to reset: <a class="btn btn-success" href="/reset">Reset Session</a></label>
</html>